.button {
  background-color: white;
  border-radius: 8px;
  border: 1px solid #eee;
}

.small {
  font-size: 0.8rem;
}

.large {
  font-size: 1.5rem;
}

.toggled {
  background-color: black;
  color: white;
}